.speech { color:black;font-family:'Times New Roman', Times, serif;size: 14px}
.hover {background-color: burlywood;}
.ARCHIDAMUS { color:darkblue;font-family:'Times New Roman', Times, serif;size: 16x;background-color: darkgoldenrod}
.CAMILLO  { color:darkmagenta;font-family:'Times New Roman', Times, serif;size: 16x;background-color:seagreen}